.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 20px 0;
    
    mask-image: linear-gradient(
    	to right,
    	rgba(0,0,0,0) 0%,
    	rgba(0,0,0,1) 20%,
    	rgba(0,0,0,1) 80%,
    	rgba(0,0,0,0)100%
    );
    -WebKit-mask-image: linear-gradient(
    	to right,
		rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
    	rgba(0,0,0,1) 80%,
    	rgba(0,0,0,0) 100%
	);    
    
}

.marquee-text {
	display: inline-block;
    color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	width: 100%;
	animation: sideToside 6s ease-in-out infinite alternate;
}
@keyframes sideToside {
	0% {
    transform: translateX(-25%);
	}
	100% {
    transform: translateX(25%)
	}
}

.container {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.right-image{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.2);
	animation: rotate 20s linear infinite;
}
table {
	align: right;
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	font-size: 1.2rem;
}

th, td {
	padding: 15px;
	border: 1px solid rgba(255, 255, 255, 0.5)
	text-align: center;
	color: white;
}

th {
	background-color: rgba(255, 255, 255, 0.1)
}












	
}
