.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	paddinng: 1.5rem 10%;
	background-color: #ffffff;
	border-bottom: 1px solid #e2e8f0;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.logo {
	color: #1e202c;
	font-size: 1.5rem;
	font-family: 'Montserrat',sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
}

.logo:hover {
	color: var(--primary);
	transition: 0.3s ease;
}

.nav-links a: hover {
	color: #1a202c;
}

nav-links a.active {
	color: #1a202c;
	border-bottom: 2px solid #1a202c;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 200px;
}

nav a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	padding: 8px 12px;
	transition: 0.3s;
}

nav a: hover {
	background-color: #f0f0f0;
	border-radius: 5px;
}







.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 20px 0;
    
    mask-image: linear-gradient(
    	to right,
    	rgba(0,0,0,0) 0%,
    	rgba(0,0,0,1) 20%,
    	rgba(0,0,0,1) 80%,
    	rgba(0,0,0,0)100%
    );
    -WebKit-mask-image: linear-gradient(
    	to right,
		rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
    	rgba(0,0,0,1) 80%,
    	rgba(0,0,0,0) 100%
	);    
    
}

.marquee-text {
	display: inline-block;
    color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	width: 100%;
	animation: sideToside 6s ease-in-out infinite alternate;
}
@keyframes sideToside {
	0% {
    transform: translateX(-25%);
	}
	100% {
    transform: translateX(25%)
	}
}

.container {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.right-image{
	float: right;
	margin-right: 20%;
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	animation: rotate 20s linear infinite;
}
table {
	align: right;
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	font-size: 1.2rem;
}

th, td {
	padding: 15px;
	border: 1px solid rgba(255, 255, 255, 0.5)
	text-align: center;
	color: white;
}

th {
	background-color: rgba(255, 255, 255, 0.1)
}












	
}
