.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 10%;
	background-color: #ffffff;
	border-bottom: 1px solid #e2e8f0;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.logo {
	color: #1e202c;
	font-size: 1.5rem;
	font-family: 'Montserrat',sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
}

.logo:hover {
	color: var(--primary);
	transition: 0.3s ease;
}

.nav-links a: hover {
	color: #1a202c;
}

nav-links a.active {
	color: #1a202c;
	border-bottom: 2px solid #1a202c;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 200px;
}

nav a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	padding: 8px 12px;
	transition: 0.3s;
}

nav a: hover {
	background-color: #f0f0f0;
	border-radius: 5px;
}







.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 20px 0;
    
    mask-image: linear-gradient(
    	to right,
    	rgba(0,0,0,0) 0%,
    	rgba(0,0,0,1) 20%,
    	rgba(0,0,0,1) 80%,
    	rgba(0,0,0,0)100%
    );
    -WebKit-mask-image: linear-gradient(
    	to right,
		rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 20%,
    	rgba(0,0,0,1) 80%,
    	rgba(0,0,0,0) 100%
	);    
    
}

.marquee-text {
	display: inline-block;
    color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	width: 100%;
	animation: sideToside 6s ease-in-out infinite alternate;
}
@keyframes sideToside {
	0% {
    transform: translateX(-25%);
	}
	100% {
    transform: translateX(25%)
	}
}

.container {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

.right-image{
	float: right;
	margin-right: 20%;
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.2);
	animation: rotate 20s linear infinite;
}
table {
	align: right;
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	font-size: 1.2rem;
}

th, td {
	padding: 15px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	text-align: center;
	color: white;
}

th {
	background-color: rgba(255, 255, 255, 0.1);
}

.slide-container {
	width: 80%;
	max-width: 800px;
	height: 450px;
	margin: 500px auto;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
}

.slide-wrapper {
	display: flex;
	height: 100%;
	scroll_behavior: smooth;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.slide {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	scroll-snap-align: start;
	position: relative;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.caption {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1.2rem;
	font-family: sans-serif;
}

.table-container {
	padding: 40px 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table-title {
	color: white;
	margin-bottom: 20px;
	font-family: 'Montserrat' , sans-serif;
	letter-spacing: 2px;
}

.glass-table {
	width: 100%;
	max-width: 900px;
	border-collapse: collapse;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.1)
}

.glass-table th, .glass-table td {
	padding: 20px;
	text-align: left;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05)
}

.glass-table th {
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 1px;
}

.glass-table tr:hover {
	background: rgba(255, 255, 255, 0.1);
	transition: 0.3s;
}

.duties-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minimax(250px, 1fr));
	gap: 20px;
	padding: 40px;

}

.duty-card {
	background: rgba(255, 255, 255, 0.05)
	backdrop-filter: blue(10px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	padding: 25px;
	color: white;
	transition: transform 0.3s ease;
}

.duty-card: hover {
	transform: translateY(-10px)
	background: rgba(255, 255, 255, 0.1);
}

.achievements-section {
	padding: 60px 10%;
	text-align: center;
}
.Sub-title {
	color: white;
	margin-bottom: 20px;
	font-family: 'Montserrat' , sans-serif;
	letter-spacing: 2px;
}
.achievement-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 25px;
	margin-top: 30px;
}

.award-card {
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur (12px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	padding: 30px;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	color: white;
	position: relative;
	overflow: hidden;
}

.award-card: hover {
	transform: translateY(-12px)
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.award-card h4 {
	margin: 10px 0;
	font-size: 1.25rem;
	color: #00d4ff;
}

.award-card p {
	font-size: 0.9rem;
	opacity: 0.8;
	line-height: 1.5;
}



















